body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
svg{
    margin-left:10px;
}
.letter{
    width:30px;
    height: 20px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.605);
    color: aliceblue;
    display: inline-table;
    text-align: center;
    margin: 40px 15px;
}
.word{
    width: 500px;
    height: 200px;
    display: flex;
    justify-content: center;
}
.part{
    width: 50px;
    height: 50px;
    background-color: rgb(0, 136, 255);
    border-radius: 5px;
    margin:10px;
}
.container{
    display: flex;
    justify-content: center;
}
.bg-info.bg-gradient{
    padding: 15px;
    border-radius: 7px;
}
.final-message{
    height: 75px;
    text-align: center;
}
.play-btn{
    width: 100%;
    align-self: center;
}
.popup{
    width: 30%;
}
.part.moving{
    transform: rotateX(3600deg);
    transition: transform 1s ease-in-out;
}
.part{
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 33;
}